body {
  font-family: Arial, sans-serif;
  height: auto;
  margin: 0;
  background-image: url('logos/bur12.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.navbar {
  width: 100%;
  background-color: #6b6868;
  overflow: auto;
  border-radius: 50px;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #2cade0;
}

@media screen and (max-width: 500px) {
  .navbar a {
      float: none;
      display: block;
  }
}

.box {
  width: 180px;
  height: 200px;
  background-color: rgb(136, 195, 18);
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  object-fit: cover;
  background-image: url('logos/personal pic.jpg');
  background-size: cover;
  background-position: center;
}


.header-text {
  color: white;
  margin-top: 20%;
  font-size: 30px;
  text-align: left;
}

.header-text h1 {
  color: white;
  font-size: 60px;
  margin-top: 20px;
}

.header-text h1 span {
  color: red;
}



.about {
  text-align: center;
  font-size: 40px;
  color: #71e3c3;
  margin-top: 50px;
}

.text {
  font-size: 20px;
  color: #f1f4f6;
  padding: 20px;
  text-align: center;
}

.Name {
  font-size: 30px;
  color: red;
}



button {
  background-color: #71e3c3;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  display: block;
  margin: 20px auto;
  
}
a{
  text-decoration: none;
}

button:hover {
  background-color: #32688d;
  color: black;
  cursor: pointer;
}

.skills {
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto;
}

.skills h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.skill {
  margin-bottom: 15px;
}

.skill label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.skill progress {
  width: 100%;
  height: 20px;
}

.contact {
  text-align: left;
  color: rgb(208, 237, 226);
  margin-top: 50px;
}

.form {
  padding: 40px;
  width: 300px;
  margin: 20px auto;
  background-color:black;
  border: 6px solid black;
  border-radius: 10px;
  box-shadow: 20px 10px 30px rgba(4, 4, 5, 0.1);
}

.form input, .form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

.location {
  text-align: center;
  color: rgb(236, 229, 227);
  margin-top: 50px;
  margin-left: 70px;
}

iframe {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  border: 0;
}
.contact-map{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color:transparent;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}